:root{
    --main-background: #0b0c0f;
    --main-fonts-color: #CAC7C1;
    --main-decor-color:#B88E2F;
     
    --main-font-family: 'Poppins', sans-serif;
  }
  
  
  #error-page{
    background-image: url(images/img.jpg);
    height: 40rem;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: bottom;
    margin: 10px;
    overflow: hidden;
  }
  
  #container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .box {
      height: 450px;
      width: 15rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 12px;
    transition: height 0.8s ease; 
    border-radius: 5px;
  }
  .box1{
    height: 450px;
    width: 15rem;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    display:flex;
    align-items:center;
    justify-content: center;
    transition: height 0.8s ease; 
  
  }
  .box:hover {
     height: 480px;
  }
  .box1:hover{
     height: 480px;
  
  }
  .intro{
    color: #fffaf0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 15px;
    padding: 12px;
    z-index: 5;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    position:sticky;
  }
  .intro1{
    color: #fffaf0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 99px;
    padding: 12px;
    z-index: 5;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    position:sticky;
  }
  #box1{
    background-image: url(images/hello.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #box2{
    background-image: url("images/pavia_bed_01 (1).avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #box3{
    background-image: url(images/hol.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #box4{
    background-image: url(images/hi.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .heading{
    margin-top: 32px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
  }
  
    .view {
        background-color: white;
        color: black;
        text-align: center;
        display: flex;
        align-items: center;
        
        justify-content: center;
        margin: auto;
        padding: 10px;
        margin-top: 32px;
        border-radius: 5px;
        border: 2px solid black;
    
       
  }
  .ta{
    text-align: center;
  }
  .overlay3{
    height: 40rem;
    width:100%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    display:flex;
    align-items:center;
    justify-content: center;
    transition: height 0.8s ease; 
  }
  .block{
    transition: height 0.8s ease; 
  }
  .block:hover{
    height:250px;
    overflow: hidden;
  }
  .h{
    transition: height 0.8s ease; 
  
  }
  .h:hover{
     height:250px;
  }
  @media (max-width:1047px){
   
     .box{
       
       height: 400px;
       width: 20rem;
       display: flex;
       justify-content: center;
       align-items: center;
       margin:12px;
     }
    .box1{
      height: 400px;
      width: 20rem;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.7);
      display:flex;
      align-items:center;
      justify-content: center;
      transition: height 0.8s ease; 
  
    }
    .box:hover {
       height: 480px;
    }
    .box1:hover{
       height: 480px;
  
    }
    .intro1{
      color: #fffaf0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      font-size: xx-large;
      padding: 12px;
      z-index: 5;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      position:sticky;
    }
  }
  @media (max-width:280px){
  
     .box{
  
       height: 400px;
       width: 16rem;
       display: flex;
       justify-content: center;
       align-items: center;
       margin:12px 2px;
     }
    .box1{
      height: 400px;
      width: 16rem;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.7);
      display:flex;
      align-items:center;
      justify-content: center;
      transition: height 0.8s ease; 
  
    }
    .box:hover {
       height: 480px;
    }
    .box1:hover{
       height: 480px;
  
    }
    #error-page{
      background-image: url(images/images.jfif);
      height: 30rem;
      /* width: 16.5rem; */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-position-x: bottom;
      margin: 10px;
      overflow: hidden;
    }
    .overlay3{
      height: 20rem;
      width:100%;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.7);
      display:flex;
      align-items:center;
      justify-content: center;
      transition: height 0.8s ease; 
    
    }
  }
  